<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="preloader">
        <!-- <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/kUTME7ABmhYg5J3psM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/loading-load-builtbybritt-kUTME7ABmhYg5J3psM">via GIPHY</a></p> -->
        <!-- <img src="Gifs/1uoA.gif" alt="Loading..."> -->

    </div>
    {{>navbar}}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12" id="banner">
                <p>
                    <!-- 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa accusamus dolorum id sit officiis
                    praesentium commodi modi placeat veritatis et iure consequuntur harum, alias aliquid, assumenda
                    mollitia architecto delectus quos fuga eos recusandae! Excepturi nam error esse deserunt, doloribus
                    eum sit perspiciatis asperiores repudiandae provident necessitatibus molestias illo aliquid
                    consequuntur! Vel ad eaque saepe, qui ipsum officiis dicta dolorum veritatis ea et aspernatur
                    deleniti odio repudiandae in repellat, fuga omnis ab suscipit inventore asperiores! Corporis ad nisi
                    non similique deleniti dicta quibusdam magnam, voluptas harum quod quo dolor quasi! Ad magnam
                    fugiat, alias vero voluptas maxime sunt veniam iusto est debitis repellendus! Itaque dolore eius
                    magnam harum suscipit et ut voluptatibus ex! Qui fugiat quidem excepturi exercitationem. Voluptatum
                    non provident beatae incidunt eveniet dolorem ea a at. Nostrum excepturi itaque debitis quod ab
                    laborum corrupti labore accusantium voluptatem neque dolor eligendi delectus quisquam et natus vel
                    nulla soluta nemo magnam repellat maxime doloribus, est quia eum? Tempore sequi natus, ducimus
                    magnam odio soluta necessitatibus eum nemo inventore, illo numquam odit, commodi aut fuga unde quae
                    doloribus sit sed dolorem veritatis asperiores id? Vero incidunt vel accusantium, consequuntur
                    recusandae voluptatibus hic nobis cum, illo voluptates quasi eius quibusdam explicabo doloribus
                    distinctio pariatur esse similique. Modi nobis exercitationem voluptatibus autem architecto rem
                    inventore at quia cumque debitis. Praesentium veritatis, nam at voluptatem nulla expedita, odio
                    natus ullam eum repellendus quo. Nesciunt ipsam numquam necessitatibus eveniet modi, doloribus
                    recusandae esse. Nesciunt voluptas cum praesentium, omnis voluptatibus dolorum labore ipsam. Debitis
                    aut enim dolore beatae porro excepturi minus. Delectus laudantium rem, eos molestias ad architecto
                    enim libero. Adipisci voluptate distinctio sunt totam! Incidunt dolores inventore mollitia vitae
                    ipsum reiciendis, cum deserunt delectus possimus quisquam voluptates nostrum sit, eveniet dicta
                    facere doloribus animi dolorem nesciunt totam facilis. Sed minima cum nihil earum, molestiae
                    molestias assumenda quo eius? Rerum ad dignissimos cupiditate veritatis! Officiis expedita quidem
                    deserunt quia, recusandae tempora minima aut iusto quos sint hic dolorum facere laborum explicabo
                    fugiat, odio ea. Deleniti unde tempore quo, beatae rerum in eligendi quia perferendis tenetur, eum
                    inventore! Nam cupiditate necessitatibus perferendis quisquam labore dolorem amet accusantium
                    corporis doloremque enim quas nobis ullam, laboriosam corrupti doloribus magnam vel? Nostrum
                    deserunt incidunt similique voluptatem fugit vitae et illum tempore omnis, pariatur, beatae in id
                    ullam non. Reiciendis cum laudantium numquam itaque, exercitationem esse nihil amet, aliquam
                    asperiores corrupti alias mollitia veritatis! Beatae culpa eum minus quisquam? Sed optio voluptatum
                    quidem delectus illo sequi dolorum exercitationem asperiores, deleniti suscipit vero, numquam quis
                    maiores recusandae quasi nulla omnis. Eaque asperiores odio corrupti atque distinctio, magni quod
                    explicabo nihil maxime quia amet reprehenderit nulla, soluta, quae ea saepe nisi sit! Quos sit
                    nostrum molestias corporis harum nisi dolorem in quas nam consequatur corrupti sapiente quod,
                    distinctio dolores expedita voluptatibus, architecto at dolor iusto. Excepturi commodi, incidunt
                    architecto impedit, tempora praesentium voluptas sequi doloribus neque eius illum consequuntur! Nemo
                    quaerat libero quisquam. Voluptatem temporibus illo culpa odio esse, rerum, magni dolorem possimus
                    quam in aspernatur, iure excepturi quaerat. Corporis nisi vel unde ipsam!-->
                </p>
                <div class="row">
                    <div class="col-lg-6" id="banner_text">
                        <p id="banner_text_desc1">
                            Being a Personal <br>
                            Assistant Towards Your <br>
                            Better Future <br>
                        </p>
                        <p id="banner_text_desc2">
                            We Aim to provide free education and <br>
                            resourses to everyone who wants to Learning <br>
                        </p>

                        <!-- <p>

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quidem ratione earum rem numquam quibusdam sed culpa architecto maxime, eveniet assumenda, facilis ab neque ipsum cupiditate voluptas nihil exercitationem? Enim in ducimus fuga iure, odit earum sed quasi corrupti delectus odio dignissimos quibusdam temporibus magni laboriosam. Incidunt maiores dolore quisquam deserunt fugit, quia libero exercitationem ut architecto temporibus earum debitis recusandae optio facilis id hic provident iure ipsum! Natus voluptate reprehenderit et tempore sed saepe, non labore, consequuntur aliquam facilis vel corporis inventore architecto quibusdam! Iste fugiat enim corporis praesentium blanditiis, perferendis ipsum eaque quos laudantium reiciendis commodi eum doloremque recusandae consequuntur non eveniet quibusdam vel, voluptatibus nobis veritatis voluptates ab quisquam expedita ratione. Nam maiores dolorem recusandae nostrum consequatur temporibus blanditiis porro quia sequi unde, molestias placeat dolorum tenetur itaque sint quod! Debitis dolorem natus quisquam voluptatum, culpa veritatis harum consequuntur voluptate ratione animi mollitia quam eos molestiae, consequatur eligendi numquam, est ipsam officiis. Saepe dolor expedita vitae consequuntur atque iusto, omnis error tenetur ullam, culpa aspernatur ab porro maxime laboriosam iure quam provident at enim, ex cumque nihil nisi voluptas! Aperiam ducimus quas cumque nobis perspiciatis similique perferendis doloremque voluptas, facilis debitis excepturi nulla. Eos expedita quidem itaque!
                        </p> -->


                        <!-- <span style="display: inline-flex;"><button type="button" class="btn nav-link"
                                id="text_donate">Donate</button>
                            <button type="button" class="btn nav-link" id="text_donate">Donate</button></span> -->

                        <button type="button" class="btn btn-info banner-btn">About Us</button>
                        <a href="./register" target="_blank" rel="noopener noreferrer"> <button type="button" class="btn btn-info banner-btn" id="Sign-in">Sign in</button> </a> 

                    </div>
                    <div class="col-lg-6" id="banner_image">
                        <p>
                            <!--
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quas in fugiat tenetur hic
                            eum reprehenderit rem. Non numquam corrupti unde itaque ab libero! Similique alias veritatis
                            odit officia quis eos quae adipisci libero eveniet expedita! Aperiam expedita nemo ipsum
                            maxime autem! Fugiat ut, sit deserunt a aut atque corrupti sed assumenda debitis itaque
                            provident harum ratione quod dolorum accusamus nihil quaerat, odio at iste modi veniam eaque
                            dolores ex nemo! In sed maiores quaerat modi porro ex iure veniam quibusdam facilis libero
                            quam illum vero dicta, officiis repudiandae sint quo, dolore impedit deserunt suscipit fuga
                            illo hic quidem. Fugit placeat harum voluptatem earum voluptatum exercitationem, iure
                            consequatur libero, nulla, vel eligendi. Laboriosam quod eveniet fugiat, maiores minima
                            dicta molestias adipisci eius alias, ipsum itaque. Animi at qui ad dolorem odit cum
                            necessitatibus dolorum explicabo temporibus! Cum obcaecati incidunt sint voluptatem
                            necessitatibus odio voluptates ab unde facilis tempore repellat eum, explicabo commodi fuga?
                            Soluta cupiditate quaerat dolore molestias quae autem, distinctio eum sed, praesentium quis
                            officia. Molestiae veniam mollitia laboriosam accusamus, ea voluptates ab dicta, sapiente
                            perferendis magni commodi quod eius repellat! Molestiae ut aliquam placeat quis sit dolorum
                            tempore aperiam corrupti eos possimus, rerum dolor esse. Veritatis, cum earum!-->
                        </p>
                        <img src="images/Lifestyle Illustrations_1.svg" class="banner-vector">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center mt-5 mb-5">
                <div class="Why-Us"> Why US </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center" id="images-correction">
                    <img src="images/icons8-home-500.png" alt="Home" height="28%">

                    <div class="row justify-content-center  icon_text">
                        Personalse Learning
                    </div>
                    <div class="row justify-content-center  icon_text_desc">
                        We look through your <br> area of intrests <br> recommend best <br> matreials available <br>
                        online
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="images/icons8-share-480.png" alt="" height="28%" class="icon_reshape">

                    <div class="row justify-content-center  icon_text">
                        Free Resourses <br> Sharing
                    </div>
                    <div class="row justify-content-center  icon_text_desc">
                        We collectably <br> promote valuable <br> resourses present <br> online and give it to <br> you
                        at one place
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="images/icons8-idea-500.png" alt="" height="28%" class="icon_reshape">

                    <div class="row justify-content-center  icon_text">
                        Active Learning
                    </div>
                    <div class="row justify-content-center icon_text_desc">
                        We look through your <br> area of intrests <br> recommend best <br> matreials available <br>
                        online
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="motivation-image">
            <div class="col-lg-6">
                <div class="motiv__text">
                    You can always be a <br> better version of <br> yourself
                </div>
            </div>
            <div class="col-lg-6">
                <img src="images/Teacher_Isometric.svg" height=auto width="100%" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center" id="About__Us">
                About Us
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center" id="About__Us__text">
                “We aim at providing and equipting beginners as well as proffessional to upgrade their <br> skills set
                by providing free content to make sure you do not providing free content to <br> make sure you do not
                waste your valuable time in searching for meaningful content <br> with simple explanations’’
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid">
        <div class="row justify-content-center" id="footer__part">
            <div class="col-lg-3">
                <p class="footer_heading">Support Us </p>

                <div class="footer__links">
                    As Intern <br>
                    As Developer <br>
                    As Investor
                </div>
            </div>

            <div class="col-lg-3">
                <p class="footer_heading"> Contact Us </p>
                <div class="footer__links">
                    Feedback <br>
                    Share Your Story
                </div>
            </div>
            <div class="col-lg-3">
                <p class="footer_heading">Follow Us </p>

                <div class="footer__links">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"> <img
                            src="images/icons8-facebook-500.png" alt="Facebook" height="60%" width="23%"> </a>

                    <a href="https://twitter.com/?lang=en" target="_blank" rel="noopener noreferrer"> <img
                            src="images/icons8-twitter-480.png" alt="Twitter" height="60%" width="23%"> </a>

                    <a href="http://https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                        <img src="images/icons8-instagram-50.png" alt="instagram" height="60%" width="23%">
                    </a>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>