{{!-- <h1>Navbar ka code yaaeeeee</h1> --}}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" >
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex align-items-center">


                    <li class="nav-item dropdown" id="nav-courses-main">
                        <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdownMenuLink1" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" class="nav-text">
                            Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" id="nav-courses">
                            <li><a class="dropdown-item" href="#">ML/AI/DS</a></li>
                            <li><a class="dropdown-item" href="#">Web Development </>  </a></li>
                            <li><a class="dropdown-item" href="#"> UI/UX </a></li>
                        </ul>

                    </li>

                    <li class="nav-item dropdown" id="nav-courses-main2">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink2" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" class="nav-text">
                            Projects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" id="nav-projects">
                            <li><a class="dropdown-item" href="#">Roadmaps </a></li>
                            <li><a class="dropdown-item" href="Projects.html">Our Projects</a></li>
                            <li><a class="dropdown-item" href="#">Community Projects</a></li>
                        </ul>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" class="nav-text">Careers</a>
                    </li>
                    <button type="button" class="btn nav-link" id="text_donate">Donate</button>
                </ul>
            </div>
        </div>
    </nav>